# Dependencies
node_modules/
.npm/

# Build outputs
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Memory Profiling (Clinic.js & Heapdumps)
.clinic/
*.heapsnapshot
*.cpuprofile

# Environment
.env